body{
    background-color: aquamarine
}
button{
    border-radius: 5px
}
button:hover{
    background-color: rgb(197, 17, 17);
}
input[type=text]{
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 1cm;
}
input[type=number]{
    background-color: rgb(216, 216, 216);
    border: 2px solid black;
    border-radius: 5px;
    width: 2cm
}
